ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background: #d3d3d3;
  font-size: 25px;
  width:80%;
}
li{
  float:left;
  padding:6px;
  margin-left:14%;
}
a:hover {
    color: black;
}
a:link{
  text-decoration:none;
}
img{
    width:50%;
    float:right
}
 @media screen and (min-width: 480px) {
    body {
        background-color: mintcream;
    }
}