ul{
  list-style-type: none;
  margin:0;
  padding:0;
  overflow: hidden;
  background: #d3d3d3;
  font-size: 25px;
  width:100%;
}
li{
  float:left;
  padding:6px;
  margin-left:14%;
}
a:hover {
    color: black;
}
a:link{
  text-decoration:none;
}
img{
    max-width: 100%;
    float:none;
}
body {
    background-color: whitesmoke;
}
 @media screen and (min-width: 769px) {
    body {
        background-color: mintcream;
    }
     img{
         border:1px solid red;
     }
.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}